body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/Fondo_Pagina.png');
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
   }

header {
    padding: 0em;
}

nav {
    display: flex;
    font-size:0.8em;
    margin: 0 auto;
    margin-left: 2em;
}

.buttom:hover{
    transform:scale(0.1)
}

.nav-ul {
    list-style: none;
    display: flex;
    gap: 5em;
    align-items: center;
}

.logo {
    margin-right: 20em; 
    height: 15em;
    width: 20em;
    transition: transform 1.3s;
    border-radius: 2em;
}

.logo:hover{
    transform: scale(1.10); 
}

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.text-column {
    width: 50%;
    text-align: center;
}

.image-column img {
    height: 20em;
    width: 350em;
    height: auto;
    margin-top: 1em;
}



.img-comment{
    border-radius: 3em;
    width: 36em;
    height: 10em;
    transition: transform 2s;
}

.img-comment:hover{
    transform:scale(1.3);   
}

.img-start{
    margin-top: 10em;
    transition: transform 2s;
}

.img-start:hover{
    transform: scale(1.3);
}

.nav-ul a {
    text-decoration: none;
    color: #eee;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav-ul a:hover {
    color: #00f6fe;
}


#buttom {
    background-color: #003c38;
    height: 2em;
    width: 7em;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition:transform 2s;
    text-align: center;
    padding-top: 2em;

 }
 
 #buttom:hover{
    transform: scale(1.2);
 }
 

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-column {
    width: 50%;
    text-align: center;
}

.image-column {
    width: 50%;
    transition: transform 1s;
}

.image-column:hover{
  transform: scale(1.07);
}

.main-footer {
    padding: 3rem 0;
}


.container-Box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
}

.ImagenB {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.ImagenB:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.ImagenB img {
    width: 100px;
}

.h3 {
    color: #4c4c4c;
    margin: 10px 0;
}

.ImagenB p {
    text-align: center;
}

.paragraph-middle {
    font-size: 1.5rem;
    margin-top: 5em;
    padding: 2em 1.3em;
    color: #333;
    font-family: 'Mukta', sans-serif;
    font-size: 2em;
    font-style: normal;font-family: 'Comfortaa', sans-serif;
}

.color1 { color: #003c38; font-size: 1.5em; }
.color2 { color: #fff;  font-size:1.5em; }
.color3 { color: #00f6fe;  font-size:1.5em; }

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.benefits-section {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: start;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.benefits-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    padding-top: 1.5em;
}

.benefits-text {
    text-align: left;
}

.benefits-text h2 {
    font-size: 45px;
    color: #003c38;
}

.pa {
    font-size: 16px;
    color: #333;
    width: 27em;
    line-height: 1.75em;
}
.frases{
    padding-top: 7%;
}

.main-scroll-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-test{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.child{
    min-width: 500px;
    height: 300px;
    margin: 1rem 1rem;
    cursor: pointer;
    overflow: hidden;
}
.child:hover{
    box-shadow: 0px 0px 50px 5px rgb(0 0 0 /12%);
    transition: 1s;
}
.scroll-test::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child-p {
    padding: 1%;
    font-size: 20px;
    text-align: center;
}
.child {
    text-align: center; 
    height: 500px;
}
.icon{
    color: #003c38;
    background-color: transparent;
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0 20px;

    cursor: pointer;
}
.icon:hover{
    color: #003c38;
}

.child img {
    display: block;
    margin: 0 auto;
    max-width: 70%; 
    border-radius: 50%;
}

.SeguimientoGlobal{
    background-color: #fff;
    width: 100%;
    padding-top: 7em;
    padding-bottom: 4em;
}

.SeguimientoGlobal div{
    text-align: center;
}
.SeguimientoGlobal div h2{
    color: #00E5CC;
    font-size: 45px;
}
.SeguimientoGlobal div p{
    color: #9090A7;
    font-size: 16px;
}

.subscribe{
    display: flex;
    justify-content: space-between;
    background-color: #ECFDFF;
    padding-left: 5em;
    width: 95%;
}
.cform{
    display: flex;
}
.cform button{
    background-color: #060640;
    color: white;
    font-size: 14px;
    padding-left:2em;
    padding-right:2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.cform input{
    border-color: #fff;
    width: 150%;
    padding-right: 7em;

}

.Email{
    padding-top: 5em;
}
.Email h2{
    color: #060640;
    font-size: 45px;
    margin-bottom: 2em;
}
.frases .f1{
    display: flex;
}
.frases .f2{
    display: flex;
   
}
.frases .f1 .i1 img{
    margin-top: 0;
}
.frases .f2 .i2 img{
    margin-top: 0;
}
.frases .f1 .p1 p{
    padding-left: 10px;
}
.frases .f2 .p2 p{
    padding-left: 10px;
}

.frases .f1 .p1 p{
    width: 20em;
}
.SeguimientoGlobal .parrafos{
    padding-bottom: 50px;
}